button:hover, input:hover {              
    cursor: pointer;  
    border:none;
    outline: none;
    
}
  pre.active{      
    opacity: 1;
  }

  pre{
    opacity: 0;
    word-wrap: break-word;
    text-align: center;
    font-size: 1.5em;    
    border-radius: 7px;
    width: 100%;
    white-space: break-spaces;
    max-height: 75vh;
    overflow-y: scroll;
}

button{
    background:#21d36b;  
    border:none;
    border-radius:7px;       
}

.bar > div{    
    width: 35px;
    height: 5px;
    background-color: white;    
    margin: 6px;
    position: relative;     
    border-radius:4px;    
    padding: 0;
}

.pesquisa{           
    display: flex;    
    margin: 7px;
  }


.pesquisa > input, input:disabled{
    font-size: 3em;  
    margin:3px;
    margin:3px;
    line-height: 2.5em;        
    border-radius: 4px;    
    font-size: 24px;
    width: 100%;
    text-transform: capitalize;
    text-align: center;      
  }
