button:hover, button.active{              
    cursor: pointer;      
    outline: none;
    color:white;
    /*background-color: #1e90ff;*/
    background-color: #4f8ecb96; 
    transition: background-color 0.3s;
}


.playlist > input:hover, .playlist > input:focus{
  background: #000000d1;  
}


#playlistItem>div:focus, #playlistItem>div:hover  {
  cursor: pointer;
  outline: none;
  font-size: 1.2em;  
 /* margin-left: 1em;*/
  color: rgb(36, 131, 209);
  transition: all 0.3s;
}

button, input{
  outline: none;
 }

button{
  font-size: 4vh;
    color:white;
    background:#17367900;     
    border-color: #1b1b1bc4; 
    border-style:invert;  
    border-width: 1px;
    border-radius:7px;      
    transition: background-color 0.3s; 
}

button > img {
  width: 7vh;
}

.bar > div{    
    width: 35px;
    height: 5px;
    background-color: white;    
    margin: 6px;
    position: relative;     
    border-radius:4px;    
    padding: 0;
}
  
pre{
  opacity: 0;
  text-align: center;    
  display: contents;
  white-space: break-spaces;   
}

.letras{  
  /*max-height: 77vh*/
  overflow-y: auto;
  margin: 2vh;
  font-size: 3vh;
}

.playlist > input{
    margin: 0px;
    width: 100%;
    height: 6vh;
    background: #00000059;
}

.pesquisa{
  display: flex;
  /*width: 100%;*/
  background-color: #2e2e2e;
  padding: 1em;
}

#pesquisa{
  position:fixed;    
}

.container
{ 
  opacity: 0;  
  width: 100%;
  height: 100%;
  transition: opacity 0.2s;  
}

.container.active {    
  opacity: 1;
  z-index: 10;           
  transition: opacity 0.4s;
}

.pesquisa > input, input:disabled{  
    margin:3px;
    margin:3px;
    line-height: 2.5em;        
    border-radius: 4px;    
    width: 100%;
    text-transform: capitalize;
    text-align: center;      
    margin: 7px;
  }

  ::placeholder {
    color: rgb(255, 255, 255);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgb(255, 255, 255);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: rgb(255, 255, 255);
  }

  @media (max-width: 700px){
    button{
      font-size: 3vh;
    }

    button > img{
      width:5vh
    }
  }