.menu li , legend {
    padding: 2px 10px;    
    display: inline-block;    
    font-size: 2rem;        
    border-radius:7px;  
    text-decoration: none;     
  }
  .config {
    display: flex;
    padding: 10px;
    font-size: 3vh;
  }
  
#colunas{
  display: flex;
}

  #fonteConfig{    
    padding: 2vh;
    display: grid;
  }

  .config  label{
    margin-left: 5px;
    font-family: cursive;
  }

  
    .subMus{
      font-size: 3vh;            
    }

   .subArt{
    color: rgb(35, 176, 211);
    font-size: 3vh;    
   }

   .info > div .subArt{
    margin: 0.4vh;
   }

  .bar > div{    
    width: 35px;
    height: 5px;
    background-color: white;    
    margin: 6px;
    position: relative;     
    border-radius:4px;    
    padding: 0;
  }
  
  .bar.mini {
    padding: 1px;
   cursor:pointer;
    border-radius:7px;
    margin:1px
  }
  
  
  .bar.mini:hover, .bar.mini:focus, .bar.mini.active , .coluna.active {
    background-color:#505050;;
    border-color:rgb(50, 50, 56);
    border-radius:4px;
  }

  .bar.mini > div{    
    width: 21px;
    height: 2px;
  }

  menu > li {            
    list-style-type:disc;
    position: relative;
  }

  .menu{    
    position: relative;
    text-align: center;   
    padding: 7px;     
    z-index: 1;
  } 
    
  .menuItem:hover, .menuItem:focus,.listas > div:hover,input:hover, input:focus, #listaDados > div.active{
    color:247, 245, 245;
    font-style: italic;
    text-decoration: none;
    cursor: pointer;       
    background:#53a7ea;      
    color: white;  
    transition: all 0.2s;
    /*animation: active 0.2s;*/
  }

  .info{
    text-align: left;   
    /*font-size: 18px;*/
    line-height: 16px;  
  } 

  .flex{
    display: flex;
    align-items: center;
  }

  .colapse {
    display: flex;        
    justify-content: space-between;
    margin: 3px;
    padding: 3px;
  }

  .box{
    color: white;    
    display: grid;
    gap: 1em;
    padding: 6px;
    max-height: 64vh;    
    overflow-y: auto;
  }
   
  .exclui{
    display: none;
  }

  .hide{
    margin-left: 20em;    
    transition: all 0.6s;
  }

  .playlist, .discog{ 
    top: 10vh;
    font-size:3vh;    
    position: fixed;        
    left: 0;
    width: 100%;
    color:white;
  
    opacity: 0;
    transition: all 0.3s; 
  }

  .playlist{
    height: 100%; 
    background: #060910ed;  
  }

  .discog.active{
    
    opacity: 1;
    
    z-index: 10;
    height: none !important;
    /*background: #246287ed !important;*/
    transition: all 0.3s;
  }

  #artImg {
    width: 7em;
    height: 7em;
  }
    
  .listas{        
    background: #000000d1;  
    
  }

  .listas > div
  { 
    padding: 7px; 
    color: white;
    cursor: pointer;
    text-align: center;
    /* 
    font-size: 23px;    
    
    border-radius: 4px;
    text-align: left;
    border-style: outset;
    border-color: #545454; */
  }

  #fotoArtista{
    width: 7vh;
    border-radius: 4px;
    height: 7vh;
    padding: 0em;
    border-width: 2px;
    border-style: double;
    border-color: #565050;
  }

  #fotoArtista.active{
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 4px -3px 2px 0px rgba(0,0,0,0); 
box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 4px -3px 2px 0px rgba(0,0,0,0);

  }

  .active{
    z-index: 10;
    opacity: 1;
    transition: opacity 0.3s;
  }

  /*responsividade mobile*/
  @media (max-width: 600px) {  
    .menu li {
      display: grid;
      font-size: 2em;
      letter-spacing: 3px;
      line-height: 1em;
    }

    .config{
      display: flex;
    }

    #colunas{
      display: none;
    }
  }