
@import url("io.css");

.menu li , legend{
    padding: 2px 10px;    
    display: inline-block;    
    font-size: 2rem;        
    border-radius:7px;        
  }

  .bar > div{    
    width: 35px;
    height: 5px;
    background-color: white;    
    margin: 6px;
    position: relative;     
    border-radius:4px;    
    padding: 0;
}

  menu li {            
    list-style-type:disc;
    position: relative;
}

  .menu{    
    position: relative;
    text-align: center;   
    padding: 7px;     
    z-index: 1;
  } 
   .menuItem:hover, .menuItem:focus,.listas > div:hover,input:hover, input:focus{
    color:247, 245, 245;
    font-style: italic;
    text-decoration: none;
    cursor: pointer;       
    background:#53a7ea;      
    color: white;  
    transition: all 0.2s;
    /*animation: active 0.2s;*/
  }

  
  
  #info{
    text-align: left;   
    font-size: 18px;
    line-height: 16px;  
  } 

  .colapse {
    display: flex;        
    justify-content: space-between;
    margin: 3px;
    padding: 3px;
  }


  /*responsividade mobile*/
  @media (max-width: 600px) {  
    .menu li {
      display: grid;
      font-size: 2em;
      letter-spacing: 3px;
      line-height: 1em;
    }
  }