@import url("grid.css");
@import url("io.css");
@import url("menu.css");

/*scroll*/
::-webkit-scrollbar {
    width: 2px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(62, 138, 182);
}

::-webkit-scrollbar-track {
    background: rgba(31, 27, 27, 0.911);
}

.over-y{
    height: 100%;
    overflow-y: scroll;
  }

html,body{
    padding: 0;
    margin: 0;
    height:100%;
    width:100%;
}

img{
    border-radius: 4px;
}
  
fieldset > form {
    display: grid !important;
    padding: 17px;
    line-height: 36px;
    margin-bottom: 1em;
    width: 50%;
}

legend{
    text-transform: capitalize;
    margin: 1em auto;
    font-family: monospace;
    border-radius: 4px;
    font-size: 1em;
    /*text-shadow: 2px 4px 4px #24416c, 4px 5px 10px #31658b, 0 -10px 20px #1e4860, 4px 3px 40px #3c6285;
    */
}

#artName{
    /*text-shadow: #bfc167 4px 4px 7px;
    */
    margin: 10px 10px 0 0;
    padding: 0 0 3px 7px;
}

fieldset{
    border-radius:4px;      
}

.temaBlack{
    background-color: rgb(35, 35, 35);
    color:rgb(228, 228, 228);
}

.temaWhite{
    color: rgb(53, 46, 46);
    background-color:rgb(228, 228, 228);
}

a:visited, a{
    color:rgb(228, 228, 228);
}

p{
    word-break: break-word;
}


main a:hover, a:focus{
    color:rgb(53, 132, 206);    
}

main{
    padding-top: 10vh;
    position: relative;
    padding-bottom: 10vh;
}

header{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index:10;
    font-size: 3vh;
}



main > section{
    z-index: -10;
}

footer{
    position: fixed;
    bottom: 0;
    z-index: 10;    
    left: 0;
    right: 0;
    display: flex;    
    padding:10px;
    justify-content: space-between;
    align-items: center;
}

footer > img{
    width: 4em;
    border-radius: 4em;
}

@media (max-height: 600px) {
   main{
    padding-top: 13vh;
    padding-bottom: 13vh;
   }
}